html {
   background: black;
    scroll-behavior: smooth;
	color:white;
text-align: justify;
  text-justify: auto;
}


.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

.nav {
}

#landing1 {
		text-overflow: word-wrap;
		height: 100%;
		background-color: #fbdaea;
}

#about {
		font-size: 20;
		text-overflow: ellipsis;
		color: black;
}
.branding {
    height:80px;
    width:80px;
    margin-bottom:10px;
    margin-top:10px;
}

.w3-bar a {
    font-weight: 700;
}

.w3-bar-item {
    font-size:20px;

}

.landing {
    margin-top:100px;
}

.landing img {
	height: 80%;
	width:40%;
}


.about img {
	height: 100%;
	width: 100%;
}
@media only screen and (max-width:600px){

	.branding{
	margin-bottom: 50px;
}
	.gallery div {
		width: 50%;
	}


	
	#about h1 {
		font-size: 10px;
		overflow-wrap: break-word;
	}
    .about {
        margin-top: 0px;
    }
    .footer {
        display: none;
	}

.table {
	font-size:10px;
}
    
}